@font-face {
  font-family: 'NauryzRedKeds', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/NauryzRedKeds.ttf') format('truetype');
}

.App {
  text-align: center;
}

.App * {
  font-family: Roboto, sans-serif;
}

.titleContainer {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 0 4rem;

  &>span:first-child {
    font-weight: bold;
    font-size: 7rem;
  }

  &>span:last-child {
    font-family: 'NauryzRedKeds', sans-serif;
    font-size: 4vw;
  }
}

.translateBlock {
  display: flex;
  flex-direction: column;
  margin: 10vh 10vw 2vh;

    &>div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
}

#inputText, #resultText {
  width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  resize: vertical;
  overflow: hidden;
  background-color: #efefef;
  border-style: none;
  border-radius: 10px;
  padding: 1rem;
  color: black;
}

#resultText {
  margin-right: 2vw;
}

#copyButton {
  cursor: pointer;
  border: none;
  background: darkviolet;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  max-width: 10vw;
  min-width: 10vw;
  min-height: 5vh;
  max-height: 5vh;
  font-weight: bold;
  transition: box-shadow 0.2s;

    &:hover {
        box-shadow: darkviolet 0 0 10px 0;
    }
}

.Home{
  &>div:last-child {
    text-align: left;
    margin: 0 10vw;

    &>a {
      color: darkviolet;
    }
  }
}
.header {
  background: black;

    &>a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 4rem;
      font-family: 'Roboto', sans-serif;
    }
}

.historyContainer {
  text-align: left;
  margin: 10vh 5vw 2vh;

  &>img {
      width: 100%;
      }
}


.characters {
  display: inline-block;

    &>h3 {
        display: inline-block;
        white-space: nowrap;
        font-size: 36px;
        margin: 0;
        height: 45px;
    }
}

.line {
  background-color: #efefef;
  height: 3px;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}